Repository Sayantan-s/notip: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt --write, stylelint --fix

feat: added testes
  src/MyButton.tsx
  tests/MyButton.test.tsx
  tests/notip/Notip.test.tsx
  tests/notip/dialog/NotipDialog.test.tsx
  tests/notip/snackbar/NotipSnackbar.test.tsx
  vite.config.ts
Due: oxlint --fix, oxfmt --write

feat: story segregation
  src/notip/snackbar/Snackbar.tsx
  src/notip/utils/clsx.ts
  src/stories/Dialog.stories.tsx
  src/stories/Snackbar.stories.tsx
  tests/notip/snackbar/NotipSnackbar.test.tsx
Due: oxlint --fix, oxfmt --write

feat(snackbar): logic changes
  src/notip/snackbar/Snackbar.tsx
  src/notip/snackbar/snackbar.css
  src/notip/snackbar/store.ts
  src/notip/snackbar/types.ts
  src/notip/snackbar/useSnackbar.ts
  tests/notip/snackbar/NotipSnackbar.test.tsx
  tests/notip/snackbar/__screenshots__/NotipSnackbar.test.tsx/updates-visible-limit-when-prop-changes-1.png
Due: oxlint --fix, oxfmt --write, stylelint --fix

feat: added changes
  .npmrc
  .nvmrc
  src/notip/icons/Close.tsx
  src/notip/icons/Error.tsx
  src/notip/icons/Info.tsx
  src/notip/icons/Loading.tsx
  src/notip/icons/Success.tsx
  src/notip/icons/Warning.tsx
  src/notip/snackbar/Snackbar.tsx
  src/notip/snackbar/snackbar.css
Due: oxlint --fix, oxfmt --write, stylelint --fix

feat: added changes
  .npmrc
Due: none

ci: setup for release
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: oxfmt --write

ci: setup for release
  .npmrc
Due: none

style: code types
  src/notip/snackbar/Snackbar.tsx
  src/notip/snackbar/types.ts
Due: oxlint --fix, oxfmt --write

style: component design upgrades
  .gitignore
  .spec/snackbar.md
  .storybook/main.ts
  package.json
  src/notip/snackbar/Snackbar.tsx
  src/notip/snackbar/snackbar.css
  src/notip/snackbar/store.ts
  src/notip/snackbar/types.ts
  src/notip/snackbar/useSnackbar.ts
  tests/notip/snackbar/NotipSnackbar.test.tsx
  tests/notip/snackbar/__screenshots__/NotipSnackbar.test.tsx/onDismiss-callback-fires-on-manual-dismiss-1.png
  yarn.lock
Due: oxlint --fix, oxfmt --write, stylelint --fix

feat: snackbar stories
  src/stories/Snackbar.stories.tsx
Due: oxlint --fix, oxfmt --write

feat: hover wait interaction
  src/notip/snackbar/Snackbar.tsx
  src/notip/snackbar/store.ts
  tests/notip/snackbar/NotipSnackbar.test.tsx
  tests/notip/snackbar/__screenshots__/NotipSnackbar.test.tsx/hover-works-with-children-render-prop-1.png
  tests/notip/snackbar/__screenshots__/NotipSnackbar.test.tsx/onAutoClose-fires-after-unhover-remaining-time-elapses-1.png
  tests/notip/snackbar/__screenshots__/NotipSnackbar.test.tsx/snackbar-dismisses-after-mouse-leaves-with-remaining-time-1.png
  tests/notip/snackbar/__screenshots__/NotipSnackbar.test.tsx/snackbar-is-not-dismissed-while-hovered-1.png
Due: oxlint --fix, oxfmt --write

feat: style aesthetics
  .storybook/preview-head.html
  src/notip/icons/Success.tsx
  src/notip/snackbar/snackbar.css
  src/notip/snackbar/types.ts
Due: oxlint --fix, oxfmt --write, stylelint --fix

Path conditions:
  oxlint --fix: any of: *.{js,jsx,ts,tsx}
  oxfmt --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md})
  stylelint --fix: any of: *.css
